.twitter{
    color: #2FC2EF;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-align: inherit;
    list-style: none;
    font-family: "Segoe UI",Arial,sans-serif;
}

.Fixed
        {
            position: fixed;
            bottom: 20px;
            right: 20px;
        }



.customBtn {
    display: inline-block;
    background: #3b5998;
    color: white;
    width: 210px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
  }
  .customBtn:hover {
    cursor: pointer;
    color: white;

  }
  span.label {
    font-family: serif;
    font-weight: normal;
  }
  span.icon {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
  }