<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Avaliar SBC</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">


    <script src="{% static 'js/jquery-3.3.1.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <script src="{% static 'js/jquery.maskMoney.min.js' %}" ></script>
</head>

<body>
    <div class="page-header">
        <center>
        <img src="{% static 'img/twitter.png' %}" width="50"/>
            <a href="https://twitter.com/dimmymagalhaes" target="_blank" class="twitter">@dimmymagalhaes</a>
        </center>
    </div>
    <br/>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
              {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="content container">
            {% block content %}
            {% endblock %}
    </div>
</body>
<script>
  $(function() {
    $('.money_no_decimal').maskMoney({thousands:"", allowNegative: false, precision:0});
  })
</script>
</html>