{% load i18n %}

<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118634976-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118634976-1');
    </script>

    <meta charset="UTF-8">
    <title>{% trans 'title' %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <script src="{% static 'js/jquery.maskMoney.min.js' %}" ></script>
</head>

<body>
    <div class="page-header">
        <br/>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center" >
                <span class="twitter" style="font-size: 20px; vertical-align: middle"><a href="/">
                     <img src="{% static 'img/coins.png' %}" width="40"/>{% trans 'title' %}</a></span>
            </div>
            <div class="col-4">
                <div class="text-center">
                    <img src="{% static 'img/twitter.png' %}" width="50"/>
                    <a href="https://twitter.com/dimmymagalhaes" target="_blank" class="twitter">@dimmymagalhaes</a>
                    <img src="{% static 'img/beta.jpg' %}" width="50"/>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="text-center" style="color:red">
        {% trans 'msg1' %}: <a href="mailto:dimmyk@gmail.com">dimmyk@gmail.com</a> {% trans msg2 %}: <a href="https://twitter.com/dimmymagalhaes" target="_blank" class="twitter">@dimmymagalhaes</a>
    </div>

    <br/>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
              {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="content container">
            {% block content %}
            {% endblock %}
    </div>
</body>
<script>
  $(function() {
    $('.money_no_decimal').maskMoney({thousands:"", allowNegative: false, precision:0});
  })
</script>
</html>