{% extends 'sbcs/base.html' %}
{% load i18n %}
{% block content %}
    <h2>Termos</h2>
    <p>Este sistema permite que você otimize o uso de suas coins ao fazer DME, indicando para você quais DME de liga você vai ter mais lucro em relação ao custo de fazer o SBC e o valor do Pacote ganho. Nós usamos algumas informações sobre o preço dos times e programação linear para resolver os cálculos sobre o investimento. Os preços dos times são atualizados todos os dias, uma vez por dia.
    Importante
    Nós não temos nenhuma ligação com EA Sports ou qualquer plataforma, queremos apenas ajudar os jogadores a otimizar o uso de suas coins. Nós nunca pediremos sua gametag, psn id ou usuário e senha. Todos os nomes dos times são propriedades dos próprios. </p>

{% endblock %}